<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../style.css">
	<link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
		<title>Vox Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body background="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/39957f22-9570-4496-b7da-844241458cbb/d1i3ncf-fd2a5ee6-5d36-4750-9f57-db21aae9f777.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM5OTU3ZjIyLTk1NzAtNDQ5Ni1iN2RhLTg0NDI0MTQ1OGNiYlwvZDFpM25jZi1mZDJhNWVlNi01ZDM2LTQ3NTAtOWY1Ny1kYjIxYWFlOWY3NzcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.1PKV1ZQbJ3nXs9V1z2Hu6-W8P52DlnXDKaG8AM8Ei-g">
	{{{ body }}} <button id="scrape"
	<script src="../../app.js"></script>
</body>
</html>
