<li>

    {{!-- had trouble with handlebars, makes sense that this would be a stumbling-point. High-level abstraction is exactly what it sounds like, so grab your "rubber duck" and explain/map your way through this problem. --}}

    {{ title }}
    {{ link }}
    {{ summary }}
    {{ image }}

</li>