<li>

    {{!-- Had trouble with handlebars, makes sense that this would be a stumbling-block. High-level abstraction is exactly what it sounds like, so grab your "rubber duck" and explain/map your way through this problem. --}}

    {{!-- Best practice should be creating a branch that replaces existing population methods with handlebars, which is what this file is currently failing to do. --}}

    {{ title }}
    <br>
    {{ link }}
    <br>
    {{ summary }}
    <br>
    {{ image }}

</li>